* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #293842;
    /* min-width: 320px; */
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: rgb(230, 104, 45);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

a:hover {text-decoration: none;}

p {
    color: #929292;
    font-size: 1.250em;
    font-weight: 400;
    line-height: 30px;
}

h1, h2, h3, h4, h5 {
    color: rgb(230, 104, 45);
}

h2 {
    font-size: 2.875em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    table-layout: fixed;
}

/* For modern browsers */
.cf:before,
.cf:after {
   content: "";
   display: table;
}
.cf:after {
   clear: both;
}

@media (max-width: 1200px) { body{font-size: 16px;} }
@media (max-width: 992px) { body{font-size: 13px;} }
@media (max-width: 768px) { body{font-size: 11px;} }

picture{
    display: block;
}

.page-wr{}


/************************
 form style
*************************/
.form-control {
    border-radius: 0;
    height: 50px;
    font-size: 18px
}

textarea.form-control {
    min-height: 200px;
}

.form-control:focus {
    border-color: #e6682d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 203, 217, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(79, 203, 217, 0.6);
}

.form-group.has-error {
    position: relative;
}

.help-block.with-errors {
    position: absolute;
    right: 5px;
    font-size: 12px;
    top: 0%;
    padding: 0;
}

.has-error .form-control {
    border-color: #a95400;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: 'Ã¢Å“â€';
    position: absolute;
    top: 6px;
    left: 3px;
    font-size: 18px;
    line-height: 0.8;
    color: #e6682d;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #f56f30;
}

/* hover style just for information */
label:hover:before {
    border: 1px solid #e6682d !important;
}

/************************
 button style
*************************/
.btn {
    border-radius: 0;
}

.btn.btn-default {
    background: transparent;
    border: 1px solid #f77030;
    border-radius: 0;
    color: #f77030;
    font-size: 16px;
    text-transform: uppercase;
}

.btn.btn-default:hover {
    color: #FFF;
    background: #f77030; /* Old browsers */
    border: 1px solid #f77030;
}

.btn.btn-default.disabled {
    background: #e6682d;
    color: #FFF;

}

.btn:focus, .btn:hover {
    outline: none;
}

/************************
    Header
*************************/

.header-wr{
    background-color: #25262b;
}

.header{
    min-height: 50px;
}

.header-nav {
    margin-top: 14px;
}

.header-nav_item {
    font-family: Roboto;
    color: #fefefe;
    font-size: 1.125em;
    font-weight: 900;
    line-height: 1.278;
    text-decoration: none;
    white-space: nowrap;
}

.header-nav_item:hover:after {
    background-color: #0cbfed;
    width: 100%;
}

.header-nav_item:after {
    content: "";
    width: 0;
    height: 1px;
    display: block;
    position: relative;
    background-color: #fff;
    transition: all 0.4s linear;
}

/************************
    content
*************************/
.content-wr{
    background-color: #e5e6de;
}

.content{
    padding-bottom: 65px;
}

/*content-header*/
.content-header {
    padding: 59px 0 40px 0;
}

.content-header_logo {}

.content-header_sponsor {
    display: inline-block;
}

.sponsor {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 12px;
    text-align: justify;
    display: block;
}

.sponsor_item {
    display: inline-block;
    width: 32.6%;
    box-sizing: border-box;
    margin: 0;
    text-align: right;
}

.sponsor-modBotEdu{}
.sponsor-moss{}
.sponsor-cubelelo{}

/*content-baner*/
.content-baner{
    background-color: #fff;
    background-clip: content-box;
    padding: 0 15px;
}

.content-baner_img {
    padding: 0;
}

.content-baner_img img {
    width: 100%;
    display: block;
}

.content-baner_desc{padding: 0;}

.content-baner_desc .desc {
    text-align: center;
    padding: 1em 0 0 0;
}

.content-baner_desc .desc hr {
    margin: 0;
    background-color: transparent;
    border: 0;
    width: auto;
    display: block;
}

.content-baner_desc .desc_title {
    font-family: Roboto;
    color: #25262b;
    font-size: 2.375em;
    line-height: 1.316;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.content-baner_desc .desc_sub-title {
    font-family: Roboto;
    color: #25262b;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.25;
    max-width: 235px;
    margin: 0.6em 0 2em 0;
    display: inline-block;
}

.content-baner_desc .desc_join {
    font-family: Roboto;
    color: #ffffff;
    font-size: 1.313em;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    background-color: #0cbfed;
    text-decoration: none;
    padding: 1.2em 2.7em 1em 2.8em;
    margin: 0 0 0.8em 0;
    letter-spacing: 1px;
    border: 1px solid #0CBFED;
    text-transform: uppercase;
    display: inline-block;
}

.content-baner_desc .desc_join:hover {
    /* border-color: #0cbfed; */
    /* background-color: #fff !important; */
    /* color: #0cbfed; */
}

.content-baner_desc .desc_sing {
    font-family: Roboto;
    color: #3d3d3d;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.667;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0 auto;
    text-transform: initial;
}


@media (max-width: 778px) {
    .content-baner_desc .desc_sing{
    margin-bottom: 30px;
}
}

/*content-lessons*/
.content-lessons{}
.content-lessons_title{
    font-family: Roboto;
    color: #25262b;
    font-size: 2.375em;
    font-weight: 400;
    line-height: 1.316;
    margin: 52px 0 52px 0;
    margin-left: 10%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.content-lessons_slider{
    background-color: #fff;
    padding: 0 0 61px 0;
}
.content-lessons .lessons-slider{
    margin: 0 0 0 0;
    padding: 34px 1em 0 1em;
    box-sizing: border-box;
}
.content-lessons .lessons-slider_item{
    list-style-type: none;
    max-width: 470px;
    margin: 0 auto;
    padding: 3em;
}
.content-lessons .item{
    text-align: center;
}
.content-lessons .item_video-triger{
    position: relative;
}
.content-lessons .item_video-triger img{
    display: block;
    width: 100%;
}
.content-lessons .item .arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.content-lessons .item .arrow:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
.content-lessons .item_text{
    font-family: Roboto;
    color: #25262b;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 30px;
    text-align: left;
}
.content-lessons .item_link{
    font-family: Roboto;
    color: #00a9a6;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.333;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    border: 1px solid #00A9A6;
    margin: 1.5em 0 0 0;
    text-transform: inherit;
}

.content-lessons .item_link:hover {
    /* background-color: #00A9A6 !important; */
    /* color: #fff; */
}

/* content-lessons slider setings*/
.content-lessons .owl-controls{
    position: absolute;
    top: 27%;
    right: 20px;
    left: 20px;
    height: 0;
}

@media (max-width: 400px) { 
    .content-lessons .owl-controls{
        top: 3%;
    }
    .content-lessons .lessons-slider_item{
        padding: 45px 0 0 0;
    }
}

.content-lessons .owl-buttons {
    height: 0px;
}

.content-lessons  .owl-prev, .owl-next{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAqCAMAAACeG2tsAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAhFBMVEUAAAAAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAqaYAAABisqNUAAAAKnRSTlMAjO+2jf2O4+oy6zGL6egw5y8uCqfiKZg6A3nzQUDyP3g+d/RCevXs/KiuBN7aAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAKlJREFUOMu9j9sCwTAQRKOKokmpu7RKq0X+/wPJetwZj/J4zu5k1hjwRkkyRjwNIUwAn354mOH5kM11fuSLpeJ55JZwV+Cc1ZrwEvdxel762wLPgz6SnxFuSU/QP//V35UkX8+n+N8N67+NfLdX3Bzk46MWp3M0vtLGfE3NzKUB5irmBkwrpqY7FTOemu7OunVop//TPS29R4ynrQfamt/zMCTtiUS85/UG78skCHKFa88AAAAASUVORK5CYII=');
    height: 50px;
    width: 23px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
}

.content-lessons .owl-next{
    right: 0px;
    float: right;
    transform: rotate(180deg);
}
.content-lessons  .owl-prev{}

/* content-lessons modal setings*/

.modal-content{
    width: 80vw;
    height: 80vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background-color: #000;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
}

.modal-open .modal {
    background-color: rgba(31, 31, 31, 0.81);
}

/************************
    footer
*************************/
.footer-wr{
    background-color: #25262b;
}
.footer{
    background-image: url(../images/footer_bg.jpg);
    height: 97px;
    background-repeat: no-repeat;
    background-position: right;
}

@media (max-width: 778px) {
    .footer{
    background-size: 100%;
    height: 50px;
}
}